@import './theme'
@import '~vuetify/src/stylus/app'
@import './transitions'
@import './mavon'

.no-margin {
  margin: 0;
}

.application.theme--dark {
  h1, h2, h3, h4, h5, h6 {
    color: #D3D3D3;
  }
}

a {
  color: inherit;
}
