@import '~mavon-editor/dist/css/index.css';

.v-note-wrapper {
	z-index: 0;
}

.application.theme--dark {
	.v-note-wrapper, .v-show-content {
		background: $material-dark.cards !important;
		color: inherit;
	}
	.v-note-op {
		background: $material-dark.bg-color;
	}
	.auto-textarea-wrapper .auto-textarea-input {
		color: inherit;
	}
}